
.img-resp{
    width: 100%;
    height: auto;
}

.image{ 
   position: relative; 
   width: 100%; 
   height: auto;
}

.show_width{ 
   position: absolute; 
   bottom: 5%; 
   left: 47%; 
   width: 100%; 
}

.show_height{ 
   position: absolute; 
   top: 42%; 
   left: 97%; 
   width: 100%; 
}

.show_width_m{ 
   position: absolute; 
   bottom: 0.1%; 
   left: 45%; 
   width: 100%; 
}

.show_height_m{ 
   position: absolute; 
   top: 38%; 
   left: 96%; 
   width: 100%; 
}