.accent-bg-mixin {
  color: #fff;
  background-color: #3b8ced;
}
.solid-bg-mixin {
  background-color: rgba(48,48,48,0.08);
}
.stripe-style-1 .solid-bg-mixin {
  background-color: #ffffff;
}
.stripe-style-2 .solid-bg-mixin {
  background-color: rgba(255,255,255,0);
}
.stripe-style-3 .solid-bg-mixin {
  background-color: rgba(35,86,150,0);
}
.stripe-style-4 .solid-bg-mixin {
  background-color: rgba(255,255,255,0.15);
}
.stripe-style-5 .solid-bg-mixin {
  background-color: rgba(0,0,0,0.08);
}
.header-color {
  color: #3c3e45;
}
.sidebar-content .header-color,
.stripe .sidebar-content.solid-bg .header-color {
  color: #3c3e45;
}
.footer .header-color {
  color: #3c3e45;
}
.stripe-style-1 .header-color {
  color: #3c3e45;
}
.stripe-style-2 .header-color {
  color: #f4f4f5;
}
.stripe-style-3 .header-color {
  color: #ffffff;
}
.stripe-style-4 .header-color {
  color: #ffffff;
}
.stripe-style-5 .header-color {
  color: #333333;
}
.color-base-transparent {
  color: rgba(114,119,125,0.5);
}
.sidebar-content .color-base-transparent,
.stripe .sidebar-content .color-base-transparent {
  color: rgba(114,119,125,0.5);
}
.footer .color-base-transparent {
  color: rgba(114,119,125,0.5);
}
.stripe-style-1 .color-base-transparent {
  color: rgba(114,119,125,0.5);
}
.stripe-style-2 .color-base-transparent {
  color: rgba(244,244,245,0.5);
}
.stripe-style-3 .color-base-transparent {
  color: rgba(255,255,255,0.5);
}
.stripe-style-4 .color-base-transparent {
  color: rgba(255,255,255,0.5);
}
.stripe-style-5 .color-base-transparent {
  color: rgba(51,51,51,0.5);
}
.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.outline-element-decoration .stripe .sidebar-content.solid-bg .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px ;
  box-shadow: inset 0px 0px 0px 1px ;
}
.outline-element-decoration .stripe:not(.shadow-element-decoration) .outline-decoration {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.stripe-style-1.outline-element-decoration .outline-decoration,
.outline-element-decoration .stripe-style-1.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px #dd3333;
  box-shadow: inset 0px 0px 0px 1px #dd3333;
}
.stripe-style-2.outline-element-decoration .outline-decoration,
.outline-element-decoration .stripe-style-2.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(244,244,245,0.18);
  box-shadow: inset 0px 0px 0px 1px rgba(244,244,245,0.18);
}
.stripe-style-3.outline-element-decoration .outline-decoration,
.outline-element-decoration .stripe-style-3.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.3);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.3);
}
.outline-element-decoration .stripe-style-4 .outline-decoration,
.outline-element-decoration .stripe-style-5 .outline-decoration {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.shadow-element-decoration .shadow-decoration,
.shadow-element-decoration .stripe .sidebar-content.solid-bg .shadow-decoration {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
}
.shadow-element-decoration .stripe:not(.outline-element-decoration) .shadow-decoration {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.stripe-style-1.shadow-element-decoration .shadow-decoration,
.shadow-element-decoration .stripe-style-1.shadow-element-decoration .shadow-decoration,
.stripe-style-2.shadow-element-decoration .shadow-decoration,
.shadow-element-decoration .stripe-style-2.shadow-element-decoration .shadow-decoration,
.stripe-style-3.shadow-element-decoration .shadow-decoration,
.shadow-element-decoration .stripe-style-3.shadow-element-decoration .shadow-decoration {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
}
.shadow-element-decoration .stripe-style-4 .shadow-decoration,
.shadow-element-decoration .stripe-style-5 .shadow-decoration {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.testimonial-item:not(.testimonial-item-slider),
.testimonial-item .ts-viewport,
.bg-on.team-container {
  background-color: rgba(48,48,48,0.08);
}
.stripe-style-1 .testimonial-item:not(.testimonial-item-slider),
.stripe-style-1 .testimonial-item .ts-viewport,
.stripe-style-1 .bg-on.team-container {
  background-color: #ffffff;
}
.stripe-style-2 .testimonial-item:not(.testimonial-item-slider),
.stripe-style-2 .testimonial-item .ts-viewport,
.stripe-style-2 .bg-on.team-container {
  background-color: rgba(255,255,255,0);
}
.stripe-style-3 .testimonial-item:not(.testimonial-item-slider),
.stripe-style-3 .testimonial-item .ts-viewport,
.stripe-style-3 .bg-on.team-container {
  background-color: rgba(35,86,150,0);
}
.stripe-style-4 .testimonial-item:not(.testimonial-item-slider),
.stripe-style-4 .testimonial-item .ts-viewport,
.stripe-style-4 .bg-on.team-container {
  background-color: rgba(255,255,255,0.15);
}
.stripe-style-5 .testimonial-item:not(.testimonial-item-slider),
.stripe-style-5 .testimonial-item .ts-viewport,
.stripe-style-5 .bg-on.team-container {
  background-color: rgba(0,0,0,0.08);
}
.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .bg-on.team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.outline-element-decoration .stripe .sidebar-content.solid-bg .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .stripe .sidebar-content.solid-bg .testimonial-item .ts-viewport,
.outline-element-decoration .stripe .sidebar-content.solid-bg .bg-on.team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px ;
  box-shadow: inset 0px 0px 0px 1px ;
}
.outline-element-decoration .stripe:not(.shadow-element-decoration) .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .stripe:not(.shadow-element-decoration) .testimonial-item .ts-viewport,
.outline-element-decoration .stripe:not(.shadow-element-decoration) .bg-on.team-container {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.stripe-style-1.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .stripe-style-1.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.stripe-style-1.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .stripe-style-1.outline-element-decoration .testimonial-item .ts-viewport,
.stripe-style-1.outline-element-decoration .bg-on.team-container,
.outline-element-decoration .stripe-style-1.outline-element-decoration .bg-on.team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px #dd3333;
  box-shadow: inset 0px 0px 0px 1px #dd3333;
}
.stripe-style-2.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .stripe-style-2.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.stripe-style-2.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .stripe-style-2.outline-element-decoration .testimonial-item .ts-viewport,
.stripe-style-2.outline-element-decoration .bg-on.team-container,
.outline-element-decoration .stripe-style-2.outline-element-decoration .bg-on.team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(244,244,245,0.18);
  box-shadow: inset 0px 0px 0px 1px rgba(244,244,245,0.18);
}
.stripe-style-3.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .stripe-style-3.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.stripe-style-3.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .stripe-style-3.outline-element-decoration .testimonial-item .ts-viewport,
.stripe-style-3.outline-element-decoration .bg-on.team-container,
.outline-element-decoration .stripe-style-3.outline-element-decoration .bg-on.team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.3);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.3);
}
.outline-element-decoration .stripe-style-4 .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .stripe-style-5 .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .stripe-style-4 .testimonial-item .ts-viewport,
.outline-element-decoration .stripe-style-5 .testimonial-item .ts-viewport,
.outline-element-decoration .stripe-style-4 .bg-on.team-container,
.outline-element-decoration .stripe-style-5 .bg-on.team-container {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .stripe .sidebar-content.solid-bg .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .stripe .sidebar-content.solid-bg .testimonial-item .ts-viewport,
.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .stripe .sidebar-content.solid-bg .bg-on.team-container {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
}
.shadow-element-decoration .stripe:not(.outline-element-decoration) .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .stripe:not(.outline-element-decoration) .testimonial-item .ts-viewport,
.shadow-element-decoration .stripe:not(.outline-element-decoration) .bg-on.team-container {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.stripe-style-1.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .stripe-style-1.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.stripe-style-2.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .stripe-style-2.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.stripe-style-3.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .stripe-style-3.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.stripe-style-1.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .stripe-style-1.shadow-element-decoration .testimonial-item .ts-viewport,
.stripe-style-2.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .stripe-style-2.shadow-element-decoration .testimonial-item .ts-viewport,
.stripe-style-3.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .stripe-style-3.shadow-element-decoration .testimonial-item .ts-viewport,
.stripe-style-1.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .stripe-style-1.shadow-element-decoration .bg-on.team-container,
.stripe-style-2.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .stripe-style-2.shadow-element-decoration .bg-on.team-container,
.stripe-style-3.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .stripe-style-3.shadow-element-decoration .bg-on.team-container {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
}
.shadow-element-decoration .stripe-style-4 .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .stripe-style-5 .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .stripe-style-4 .testimonial-item .ts-viewport,
.shadow-element-decoration .stripe-style-5 .testimonial-item .ts-viewport,
.shadow-element-decoration .stripe-style-4 .bg-on.team-container,
.shadow-element-decoration .stripe-style-5 .bg-on.team-container {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.testimonial-vcard .no-avatar:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath id='user-icon' fill='rgba(114,119,125,0.15)' d='M21.69,18.851c-3.583-0.83-6.917-1.554-5.304-4.604C21.303,4.964,17.689,0,12.5,0C7.206,0,3.683,5.155,8.613,14.247c1.662,3.069-1.796,3.794-5.303,4.604C-0.27,19.678,0.005,21.568,0.005,25h24.991C24.994,21.568,25.271,19.678,21.69,18.851z'/%3E%3C/svg%3E");
}
.sidebar-content .testimonial-vcard .no-avatar:after,
.stripe .sidebar-content .testimonial-vcard .no-avatar:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath id='user-icon' fill='rgba(114,119,125,0.15)' d='M21.69,18.851c-3.583-0.83-6.917-1.554-5.304-4.604C21.303,4.964,17.689,0,12.5,0C7.206,0,3.683,5.155,8.613,14.247c1.662,3.069-1.796,3.794-5.303,4.604C-0.27,19.678,0.005,21.568,0.005,25h24.991C24.994,21.568,25.271,19.678,21.69,18.851z'/%3E%3C/svg%3E");
}
.footer .testimonial-vcard .no-avatar:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath id='user-icon' fill='rgba(114,119,125,0.15)' d='M21.69,18.851c-3.583-0.83-6.917-1.554-5.304-4.604C21.303,4.964,17.689,0,12.5,0C7.206,0,3.683,5.155,8.613,14.247c1.662,3.069-1.796,3.794-5.303,4.604C-0.27,19.678,0.005,21.568,0.005,25h24.991C24.994,21.568,25.271,19.678,21.69,18.851z'/%3E%3C/svg%3E");
}
.stripe-style-1 .testimonial-vcard .no-avatar:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath id='user-icon' fill='rgba(114,119,125,0.15)' d='M21.69,18.851c-3.583-0.83-6.917-1.554-5.304-4.604C21.303,4.964,17.689,0,12.5,0C7.206,0,3.683,5.155,8.613,14.247c1.662,3.069-1.796,3.794-5.303,4.604C-0.27,19.678,0.005,21.568,0.005,25h24.991C24.994,21.568,25.271,19.678,21.69,18.851z'/%3E%3C/svg%3E");
}
.stripe-style-2 .testimonial-vcard .no-avatar:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath id='user-icon' fill='rgba(244,244,245,0.15)' d='M21.69,18.851c-3.583-0.83-6.917-1.554-5.304-4.604C21.303,4.964,17.689,0,12.5,0C7.206,0,3.683,5.155,8.613,14.247c1.662,3.069-1.796,3.794-5.303,4.604C-0.27,19.678,0.005,21.568,0.005,25h24.991C24.994,21.568,25.271,19.678,21.69,18.851z'/%3E%3C/svg%3E");
}
.stripe-style-3 .testimonial-vcard .no-avatar:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath id='user-icon' fill='rgba(255,255,255,0.15)' d='M21.69,18.851c-3.583-0.83-6.917-1.554-5.304-4.604C21.303,4.964,17.689,0,12.5,0C7.206,0,3.683,5.155,8.613,14.247c1.662,3.069-1.796,3.794-5.303,4.604C-0.27,19.678,0.005,21.568,0.005,25h24.991C24.994,21.568,25.271,19.678,21.69,18.851z'/%3E%3C/svg%3E");
}
.stripe-style-4 .testimonial-vcard .no-avatar:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath id='user-icon' fill='rgba(255,255,255,0.15)' d='M21.69,18.851c-3.583-0.83-6.917-1.554-5.304-4.604C21.303,4.964,17.689,0,12.5,0C7.206,0,3.683,5.155,8.613,14.247c1.662,3.069-1.796,3.794-5.303,4.604C-0.27,19.678,0.005,21.568,0.005,25h24.991C24.994,21.568,25.271,19.678,21.69,18.851z'/%3E%3C/svg%3E");
}
.stripe-style-5 .testimonial-vcard .no-avatar:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath id='user-icon' fill='rgba(51,51,51,0.15)' d='M21.69,18.851c-3.583-0.83-6.917-1.554-5.304-4.604C21.303,4.964,17.689,0,12.5,0C7.206,0,3.683,5.155,8.613,14.247c1.662,3.069-1.796,3.794-5.303,4.604C-0.27,19.678,0.005,21.568,0.005,25h24.991C24.994,21.568,25.271,19.678,21.69,18.851z'/%3E%3C/svg%3E");
}
.testimonial-vcard  a.no-avatar:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'%3E%3Cpath id='user-icon' fill='white' d='M21.69,18.851c-3.583-0.83-6.917-1.554-5.304-4.604C21.303,4.964,17.689,0,12.5,0C7.206,0,3.683,5.155,8.613,14.247c1.662,3.069-1.796,3.794-5.303,4.604C-0.27,19.678,0.005,21.568,0.005,25h24.991C24.994,21.568,25.271,19.678,21.69,18.851z'/%3E%3C/svg%3E");
}
.testimonial-item .testimonial-vcard .text-secondary,
.testimonial-item .testimonial-vcard .text-primary,
.testimonial-item .testimonial-vcard .text-primary * {
  color: #3c3e45;
}
.sidebar-content .testimonial-item .testimonial-vcard .text-secondary,
.stripe .sidebar-content .testimonial-item .testimonial-vcard .text-secondary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary,
.stripe .sidebar-content .testimonial-item .testimonial-vcard .text-primary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary *,
.stripe .sidebar-content .testimonial-item .testimonial-vcard .text-primary * {
  color: #3c3e45;
}
.footer .testimonial-item .testimonial-vcard .text-secondary,
.footer .testimonial-item .testimonial-vcard .text-primary,
.footer .testimonial-item .testimonial-vcard .text-primary * {
  color: #3c3e45;
}
.stripe-style-1 .testimonial-item .testimonial-vcard .text-secondary,
.stripe-style-1 .testimonial-item .testimonial-vcard .text-primary,
.stripe-style-1 .testimonial-item .testimonial-vcard .text-primary * {
  color: #3c3e45;
}
.stripe-style-2 .testimonial-item .testimonial-vcard .text-secondary,
.stripe-style-2 .testimonial-item .testimonial-vcard .text-primary,
.stripe-style-2 .testimonial-item .testimonial-vcard .text-primary * {
  color: #f4f4f5;
}
.stripe-style-3 .testimonial-item .testimonial-vcard .text-secondary,
.stripe-style-3 .testimonial-item .testimonial-vcard .text-primary,
.stripe-style-3 .testimonial-item .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.stripe-style-4 .testimonial-item .testimonial-vcard .text-secondary,
.stripe-style-4 .testimonial-item .testimonial-vcard .text-primary,
.stripe-style-4 .testimonial-item .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.stripe-style-5 .testimonial-item .testimonial-vcard .text-secondary,
.stripe-style-5 .testimonial-item .testimonial-vcard .text-primary,
.stripe-style-5 .testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.testimonial-item .testimonial-vcard a.text-primary:hover,
.testimonial-item .testimonial-vcard a.text-primary:hover * {
  color: #3b8ced;
}
.sidebar-content .testimonial-item .testimonial-vcard a.text-primary:hover,
.stripe .sidebar-content .testimonial-item .testimonial-vcard a.text-primary:hover,
.sidebar-content .testimonial-item .testimonial-vcard a.text-primary:hover *,
.stripe .sidebar-content .testimonial-item .testimonial-vcard a.text-primary:hover * {
  color: #3b8ced;
}
.footer .testimonial-item .testimonial-vcard a.text-primary:hover,
.footer .testimonial-item .testimonial-vcard a.text-primary:hover * {
  color: #3b8ced;
}
.stripe .testimonial-item .testimonial-vcard a.text-primary:hover,
.stripe .testimonial-item .testimonial-vcard a.text-primary:hover * {
  color: #3b8ced;
}
.team-author p,
.testimonial-item .testimonial-vcard .text-secondary {
  color: #3c3e45;
  font:    14px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.testimonial-item .testimonial-vcard .text-primary {
  color: #3c3e45;
  font:    16px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.team-author-name {
  color: #3c3e45;
  font:    20px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.widget .team-author-name {
  font:    16px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #3c3e45;
}
.sidebar-content .widget .team-author-name,
.stripe .sidebar-content.solid-bg .widget .team-author-name {
  color: #3c3e45;
}
.footer .widget .team-author-name {
  color: #3c3e45;
}
.stripe-style-1 .widget .team-author-name {
  color: #3c3e45;
}
.stripe-style-2 .widget .team-author-name {
  color: #f4f4f5;
}
.stripe-style-3 .widget .team-author-name {
  color: #ffffff;
}
.stripe-style-4 .widget .team-author-name {
  color: #ffffff;
}
.stripe-style-5 .widget .team-author-name {
  color: #333333;
}
.team-author-name {
  color: #3c3e45;
}
.sidebar-content .team-author-name,
.stripe .sidebar-content.solid-bg .team-author-name {
  color: #3c3e45;
}
.footer .team-author-name {
  color: #3c3e45;
}
.stripe-style-1 .team-author-name {
  color: #3c3e45;
}
.stripe-style-2 .team-author-name {
  color: #f4f4f5;
}
.stripe-style-3 .team-author-name {
  color: #ffffff;
}
.stripe-style-4 .team-author-name {
  color: #ffffff;
}
.stripe-style-5 .team-author-name {
  color: #333333;
}
.team-author p {
  color: rgba(114,119,125,0.5);
}
.sidebar-content .team-author p,
.stripe .sidebar-content .team-author p {
  color: rgba(114,119,125,0.5);
}
.footer .team-author p {
  color: rgba(114,119,125,0.5);
}
.stripe-style-1 .team-author p {
  color: rgba(114,119,125,0.5);
}
.stripe-style-2 .team-author p {
  color: rgba(244,244,245,0.5);
}
.stripe-style-3 .team-author p {
  color: rgba(255,255,255,0.5);
}
.stripe-style-4 .team-author p {
  color: rgba(255,255,255,0.5);
}
.stripe-style-5 .team-author p {
  color: rgba(51,51,51,0.5);
}
.benefit-line-decoration:after,
.hover-line.benefits-style-one .wf-cell > div:after,
.hover-line.benefits-style-two .benefits-inner:after,
.static-line.benefits-style-one .wf-cell > div:after,
.static-line.benefits-style-two .benefits-inner:after {
  background-color: rgba(114,119,125,0.15);
}
.sidebar .benefit-line-decoration:after,
.sidebar-content .benefit-line-decoration:after,
.stripe .sidebar-content .benefit-line-decoration:after,
.sidebar .hover-line.benefits-style-one .wf-cell > div:after,
.sidebar-content .hover-line.benefits-style-one .wf-cell > div:after,
.stripe .sidebar-content .hover-line.benefits-style-one .wf-cell > div:after,
.sidebar .hover-line.benefits-style-two .benefits-inner:after,
.sidebar-content .hover-line.benefits-style-two .benefits-inner:after,
.stripe .sidebar-content .hover-line.benefits-style-two .benefits-inner:after,
.sidebar .static-line.benefits-style-one .wf-cell > div:after,
.sidebar-content .static-line.benefits-style-one .wf-cell > div:after,
.stripe .sidebar-content .static-line.benefits-style-one .wf-cell > div:after,
.sidebar .static-line.benefits-style-two .benefits-inner:after,
.sidebar-content .static-line.benefits-style-two .benefits-inner:after,
.stripe .sidebar-content .static-line.benefits-style-two .benefits-inner:after {
  background-color: rgba(114,119,125,0.15);
}
.footer .benefit-line-decoration:after,
.footer .hover-line.benefits-style-one .wf-cell > div:after,
.footer .hover-line.benefits-style-two .benefits-inner:after,
.footer .static-line.benefits-style-one .wf-cell > div:after,
.footer .static-line.benefits-style-two .benefits-inner:after {
  background-color: rgba(114,119,125,0.15);
}
.stripe-style-1.stripe-transparent-bg .benefit-line-decoration:after,
.stripe-style-1.stripe-transparent-bg .hover-line.benefits-style-one .wf-cell > div:after,
.stripe-style-1.stripe-transparent-bg .hover-line.benefits-style-two .benefits-inner:after,
.stripe-style-1.stripe-transparent-bg .static-line.benefits-style-one .wf-cell > div:after,
.stripe-style-1.stripe-transparent-bg .static-line.benefits-style-two .benefits-inner:after {
  background-color: rgba(114,119,125,0.15);
}
.stripe-style-2.stripe-transparent-bg .benefit-line-decoration:after,
.stripe-style-2.stripe-transparent-bg .hover-line.benefits-style-one .wf-cell > div:after,
.stripe-style-2.stripe-transparent-bg .hover-line.benefits-style-two .benefits-inner:after,
.stripe-style-2.stripe-transparent-bg .static-line.benefits-style-one .wf-cell > div:after,
.stripe-style-2.stripe-transparent-bg .static-line.benefits-style-two .benefits-inner:after {
  background-color: rgba(244,244,245,0.15);
}
.stripe-style-3.stripe-transparent-bg .benefit-line-decoration:after,
.stripe-style-3.stripe-transparent-bg .hover-line.benefits-style-one .wf-cell > div:after,
.stripe-style-3.stripe-transparent-bg .hover-line.benefits-style-two .benefits-inner:after,
.stripe-style-3.stripe-transparent-bg .static-line.benefits-style-one .wf-cell > div:after,
.stripe-style-3.stripe-transparent-bg .static-line.benefits-style-two .benefits-inner:after {
  background-color: rgba(255,255,255,0.15);
}
#page .stripe-style-4 .benefit-line-decoration:after,
.boxes-solid-bg .stripe-style-4 .benefit-line-decoration:after,
#page .stripe-style-4 .hover-line.benefits-style-one .wf-cell > div:after,
.boxes-solid-bg .stripe-style-4 .hover-line.benefits-style-one .wf-cell > div:after,
#page .stripe-style-4 .hover-line.benefits-style-two .benefits-inner:after,
.boxes-solid-bg .stripe-style-4 .hover-line.benefits-style-two .benefits-inner:after,
#page .stripe-style-4 .static-line.benefits-style-one .wf-cell > div:after,
.boxes-solid-bg .stripe-style-4 .static-line.benefits-style-one .wf-cell > div:after,
#page .stripe-style-4 .static-line.benefits-style-two .benefits-inner:after,
.boxes-solid-bg .stripe-style-4 .static-line.benefits-style-two .benefits-inner:after {
  background-color: rgba(255,255,255,0.15);
}
#page .stripe-style-5 .benefit-line-decoration:after,
.boxes-solid-bg .stripe-style-5 .benefit-line-decoration:after,
#page .stripe-style-5 .hover-line.benefits-style-one .wf-cell > div:after,
.boxes-solid-bg .stripe-style-5 .hover-line.benefits-style-one .wf-cell > div:after,
#page .stripe-style-5 .hover-line.benefits-style-two .benefits-inner:after,
.boxes-solid-bg .stripe-style-5 .hover-line.benefits-style-two .benefits-inner:after,
#page .stripe-style-5 .static-line.benefits-style-one .wf-cell > div:after,
.boxes-solid-bg .stripe-style-5 .static-line.benefits-style-one .wf-cell > div:after,
#page .stripe-style-5 .static-line.benefits-style-two .benefits-inner:after,
.boxes-solid-bg .stripe-style-5 .static-line.benefits-style-two .benefits-inner:after {
  background-color: rgba(51,51,51,0.15);
}
#page .light-bg.icons-bg .benefits-grid-ico,
#page .light-hover-bg.icons-bg a.benefits-grid-ico:hover {
  background-color: rgba(114,119,125,0.1);
  background-image: none;
}
#page .stripe-style-1 .light-bg.icons-bg .benefits-grid-ico,
#page .stripe-style-1 .light-hover-bg.icons-bg a.benefits-grid-ico:hover {
  background-color: rgba(114,119,125,0.1);
}
#page .stripe-style-2 .light-bg.icons-bg .benefits-grid-ico,
#page .stripe-style-2 .light-hover-bg.icons-bg a.benefits-grid-ico:hover {
  background-color: rgba(244,244,245,0.1);
}
#page .stripe-style-3 .light-bg.icons-bg .benefits-grid-ico,
#page .stripe-style-3 .light-hover-bg.icons-bg a.benefits-grid-ico:hover {
  background-color: rgba(255,255,255,0.1);
}
#page .stripe-style-4 .light-bg.icons-bg .benefits-grid-ico,
#page .stripe-style-4 .light-hover-bg.icons-bg a.benefits-grid-ico:hover {
  background-color: rgba(255,255,255,0.1);
}
#page .stripe-style-5 .light-bg.icons-bg .benefits-grid-ico,
#page .stripe-style-5 .light-hover-bg.icons-bg a.benefits-grid-ico:hover {
  background-color: rgba(51,51,51,0.1);
}
#page .light-icon-color .benefits-grid-ico > .fa,
#page .light-icon-hover-color a.benefits-grid-ico:hover > .fa,
#page .light-icon-color .benefits-grid-ico > .fa:before,
#page .light-icon-hover-color a.benefits-grid-ico:hover > .fa:before {
  color: rgba(114,119,125,0.5);
  -webkit-text-fill-color: rgba(114,119,125,0.5);
  background: none;
}
#page .stripe-style-1 .light-icon-color .benefits-grid-ico > .fa,
#page .stripe-style-1 .light-icon-hover-color a.benefits-grid-ico:hover > .fa,
#page .stripe-style-1 .light-icon-color .benefits-grid-ico > .fa:before,
#page .stripe-style-1 .light-icon-hover-color a.benefits-grid-ico:hover > .fa:before {
  color: rgba(114,119,125,0.5);
  -webkit-text-fill-color: rgba(114,119,125,0.5);
}
#page .stripe-style-2 .light-icon-color .benefits-grid-ico > .fa,
#page .stripe-style-2 .light-icon-hover-color a.benefits-grid-ico:hover > .fa,
#page .stripe-style-2 .light-icon-color .benefits-grid-ico > .fa:before,
#page .stripe-style-2 .light-icon-hover-color a.benefits-grid-ico:hover > .fa:before {
  color: rgba(244,244,245,0.5);
  -webkit-text-fill-color: rgba(244,244,245,0.5);
}
#page .stripe-style-3 .light-icon-color .benefits-grid-ico > .fa,
#page .stripe-style-3 .light-icon-hover-color a.benefits-grid-ico:hover > .fa,
#page .stripe-style-3 .light-icon-color .benefits-grid-ico > .fa:before,
#page .stripe-style-3 .light-icon-hover-color a.benefits-grid-ico:hover > .fa:before {
  color: rgba(255,255,255,0.5);
  -webkit-text-fill-color: rgba(255,255,255,0.5);
}
#page .stripe-style-4 .light-icon-color .benefits-grid-ico > .fa,
#page .stripe-style-4 .light-icon-hover-color a.benefits-grid-ico:hover > .fa,
#page .stripe-style-4 .light-icon-color .benefits-grid-ico > .fa:before,
#page .stripe-style-4 .light-icon-hover-color a.benefits-grid-ico:hover > .fa:before {
  color: rgba(255,255,255,0.5);
  -webkit-text-fill-color: rgba(255,255,255,0.5);
}
#page .stripe-style-5 .light-icon-color .benefits-grid-ico > .fa,
#page .stripe-style-5 .light-icon-hover-color a.benefits-grid-ico:hover > .fa,
#page .stripe-style-5 .light-icon-color .benefits-grid-ico > .fa:before,
#page .stripe-style-5 .light-icon-hover-color a.benefits-grid-ico:hover > .fa:before {
  color: rgba(51,51,51,0.5);
  -webkit-text-fill-color: rgba(51,51,51,0.5);
}
#page .icons-bg.accent-bg .benefits-grid-ico,
#page .icons-bg.accent-hover-bg a.benefits-grid-ico:hover,
.hover-line .benefit-line-decoration:after,
.benefits-style-one.hover-line .wf-cell > div:after,
.benefits-style-two.hover-line .wf-cell .benefits-inner:after {
  color: #fff;
  background-color: #3b8ced;
}
#page .icons-bg.accent-bg .benefits-grid-ico,
#page .icons-bg.accent-hover-bg a.benefits-grid-ico:hover {
  background-color: #3b8ced;
}
#page .accent-icon-color .benefits-grid-ico > .fa,
#page .accent-icon-color .benefits-grid-ico > .fa:before,
#page .accent-icon-hover-color a.benefits-grid-ico:hover > .fa,
#page .accent-icon-hover-color a.benefits-grid-ico:hover > .fa:before,
#page .benefit-title a:hover {
  color: #3b8ced;
}
#page .stripe .accent-icon-color .benefits-grid-ico > .fa,
#page .stripe .accent-icon-color .benefits-grid-ico > .fa:before,
#page .stripe .accent-icon-hover-color a.benefits-grid-ico:hover > .fa,
#page .stripe .accent-icon-hover-color a.benefits-grid-ico:hover > .fa:before,
#page .stripe .benefit-title a:hover {
  color: #3b8ced;
}
#page .accent-icon-color .benefits-grid-ico > .fa,
#page .accent-icon-color .benefits-grid-ico > .fa:before,
#page .accent-icon-hover-color a.benefits-grid-ico:hover > .fa,
#page .accent-icon-hover-color a.benefits-grid-ico:hover > .fa:before {
  -webkit-text-fill-color: #3b8ced;
}
.rsTitle {
  font:    46px / 52px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.rsDesc {
  font:    36px / 42px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media screen and (max-width: 1200px) {
  .rsTitle {
    font:    36px / 42px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    26px / 32px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 1024px) {
  .rsTitle {
    font:    26px / 32px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    20px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 800px) {
  .rsTitle {
    font:    16px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    14px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 320px) {
  .rsTitle {
    font:    14px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    display: none !important;
    font:    14px / 26px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
#main-slideshow .progress-spinner-left,
#main-slideshow .progress-spinner-right {
  border-color: #3b8ced !important;
}
.contentSlider-wrap .psBullet.act:before {
  background-color: rgba(114,119,125,0.25);
}
.sidebar .contentSlider-wrap .psBullet.act:before,
.sidebar-content .contentSlider-wrap .psBullet.act:before,
.stripe .sidebar-content .contentSlider-wrap .psBullet.act:before {
  background-color: rgba(114,119,125,0.25);
}
.footer .contentSlider-wrap .psBullet.act:before {
  background-color: rgba(114,119,125,0.25);
}
.stripe-style-1 .contentSlider-wrap .psBullet.act:before {
  background-color: rgba(114,119,125,0.25);
}
.stripe-style-2 .contentSlider-wrap .psBullet.act:before {
  background-color: rgba(244,244,245,0.25);
}
.stripe-style-3 .contentSlider-wrap .psBullet.act:before {
  background-color: rgba(255,255,255,0.25);
}
.stripe-style-4 .contentSlider-wrap .psBullet.act:before {
  background-color: rgba(255,255,255,0.25);
}
.stripe-style-5 .contentSlider-wrap .psBullet.act:before {
  background-color: rgba(51,51,51,0.25);
}
.contentSlider-wrap .psBullet:after,
.contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(114,119,125,0.25);
}
.sidebar .contentSlider-wrap .psBullet:after,
.sidebar-content .contentSlider-wrap .psBullet:after,
.stripe .sidebar-content .contentSlider-wrap .psBullet:after,
.sidebar .contentSlider-wrap .psBullet.act:hover:after,
.sidebar-content .contentSlider-wrap .psBullet.act:hover:after,
.stripe .sidebar-content .contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(114,119,125,0.25);
}
.footer .contentSlider-wrap .psBullet:after,
.footer .contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(114,119,125,0.25);
}
.stripe-style-1 .contentSlider-wrap .psBullet:after,
.stripe-style-1 .contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(114,119,125,0.25);
}
.stripe-style-2 .contentSlider-wrap .psBullet:after,
.stripe-style-2 .contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(244,244,245,0.25);
}
.stripe-style-3 .contentSlider-wrap .psBullet:after,
.stripe-style-3 .contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(255,255,255,0.25);
}
.stripe-style-4 .contentSlider-wrap .psBullet:after,
.stripe-style-4 .contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(255,255,255,0.25);
}
.stripe-style-5 .contentSlider-wrap .psBullet:after,
.stripe-style-5 .contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(51,51,51,0.25);
}
.outlines-bullets .contentSlider-wrap .psBullet:after,
.outlines-bullets .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(114,119,125,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(114,119,125,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(114,119,125,0.25);
}
.outlines-bullets .sidebar .contentSlider-wrap .psBullet:after,
.outlines-bullets .sidebar-content.solid-bg .contentSlider-wrap .psBullet:after,
.outlines-bullets .sidebar .contentSlider-wrap .psBullet.act:hover:after,
.outlines-bullets .sidebar-content.solid-bg .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(114,119,125,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(114,119,125,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(114,119,125,0.25);
}
.outlines-bullets .footer .contentSlider-wrap .psBullet:after,
.outlines-bullets .footer .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(114,119,125,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(114,119,125,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(114,119,125,0.25);
}
.outlines-bullets .stripe-style-1 .contentSlider-wrap .psBullet:after,
.outlines-bullets .stripe-style-1 .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(114,119,125,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(114,119,125,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(114,119,125,0.25);
}
.outlines-bullets .stripe-style-2 .contentSlider-wrap .psBullet:after,
.outlines-bullets .stripe-style-2 .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(244,244,245,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(244,244,245,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(244,244,245,0.25);
}
.outlines-bullets .stripe-style-3 .contentSlider-wrap .psBullet:after,
.outlines-bullets .stripe-style-3 .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(255,255,255,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.25);
}
.outlines-bullets .stripe-style-4 .contentSlider-wrap .psBullet:after,
.outlines-bullets .stripe-style-4 .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(255,255,255,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.25);
}
.outlines-bullets .stripe-style-5 .contentSlider-wrap .psBullet:after,
.outlines-bullets .stripe-style-5 .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(51,51,51,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(51,51,51,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(51,51,51,0.25);
}
.accent-bullets .contentSlider-wrap .psBullet:before,
.accent-bullets .stripe .contentSlider-wrap .psBullet:before,
.accent-bullets .contentSlider-wrap .psBullet.act:before,
.accent-bullets .stripe .contentSlider-wrap .psBullet.act:before {
  background-color: #3b8ced;
}
.accent-bullets .contentSlider-wrap .psBullet.act:after,
.accent-bullets .contentSlider-wrap .psBullet:hover:after {
  background-color: rgba(59,140,237,0.2);
}
.three-d-slider .navig div,
.three-d-slider .navig div:not(.act):hover,
.scale-me .navig div:hover {
  background-color: ;
  color: #3b8ced;
}
.three-d-slider .navig .act,
.scale-me .navig div.act:hover {
  color: #fff;
  background-color: #3b8ced;
}
